---
import { ABOUT_SECTIONS } from "../../../static/constants/sections"

---

<section id={ABOUT_SECTIONS[0].id} class="opacity-0 max-md:px-4 flex max-md:flex-col items-center justify-center md:justify-between max-md:gap-14 min-h-[calc(100dvh_-_46px)] md:min-h-[calc(100dvh_-_56px)]">
    <h2 class="text-4xl md:hidden">Software Developer & Graphic Designer</h2>

    <article class="text-xl md:text-4xl flex flex-col gap-y-12 items-start justify-start md:max-w-[640px] leading-[1.2]">
        <p>I'm a Multi-Disciplinary Tech Engineer with Expertise in Software Development, Machine Learning, and Data Engineering.</p>
        <p>I specialize in crafting intelligent systems with a strong emphasis on performance, data integrity, and user experience. My passion lies in transforming complex data into actionable insights and deploying robust machine learning models that drive innovation and efficiency.</p>
    </article>
</section>