---
const brandsWorkedWith: string[] = [ "[24]7.ai", "MyEdMaster, LLC" ] 
---

<div class="flex flex-col text-white/50 text-lg space-y-1">
    { brandsWorkedWith.map(brand => <span>{brand}</span>)}
</div>